# Dependencies
node_modules/

# Build output
.svelte-kit/
build/
dist/

# Environment variables
.env
.env.*
!.env.example

# OS Metadata
.DS_Store
Thumbs.db

# Vercel
.vercel

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

